<%- include('layout', { body: `
  <section class="not-found">
    <h1 class="headline">404</h1>
    <p>La pagina che cerchi non esiste.</p>
    <p><a class="btn-outline" href="/">Torna alla Home</a></p>
  </section>
`}) %>
