<%- include('layout', { body: `
  <section class="about">
    <div class="about-media">
      <img src="https://picsum.photos/id/237/800/600?grayscale" alt="Ritratto stilista" class="portrait">
    </div>
    <div class="about-copy">
      <h1 class="headline">Su di me</h1>
      <h3 class="kicker">Stile, materia, identità.</h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vitae purus et nibh elementum pretium.
        Integer ut dui nec erat aliquam mattis. Pellentesque vulputate, neque vitae dapibus luctus, ipsum dui cursus lacus,
        at tempor sapien orci sit amet orci. Donec ornare tellus id lorem scelerisque, at posuere lectus vehicula.
      </p>
      <p>
        Cras id dui erat. Nunc a nibh a eros pellentesque luctus. Etiam finibus lacus neque, a congue odio gravida non.
        Suspendisse potenti. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
      </p>
    </div>
  </section>
`}) %>
